body {
  background: url(/assets/bg/aggressive-mining.jpg) center/cover no-repeat fixed;
}

div.container {
  margin-top: 2.5em;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.content {
  line-height: 1.6;
  min-width: 60em;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: transparent;
  padding-top: 2em;
  padding-bottom: 2em;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
}

hr {
  width: 90%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.mod-table {
  width: 100%;
}

a {
  color: black;
}

.mod-table tr th {
  width: 50%;
  text-align: start;
  padding-left: 3em;
}
.mod-table tr th:nth-child(1) {
  text-align: end;
  padding-right: 3em;
}

.mod-table tr td {
  width: 50%;
  text-align: start;
  padding-left: 3em;
}
.mod-table tr td:nth-child(1) {
  text-align: end;
  padding-right: 3em;
}

.modpack-dl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modpack-dl-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

.modpack-dl-button:hover {
  background-color: RoyalBlue;
}

.modpack-dl-url {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-left: 2em;
  padding-right: 2em;
  background-color: #dddddd;
  border-radius: 5px;
  margin-bottom: 15px;
}
.modpack-dl-url-copy-button {
  height: 2em;
  margin-right: 1em;
}
