{% let shuffle_state %}
{% if shuffled %}
{% let shuffle_state = "&s=true" %}
{% else %}
{% let shuffle_state = "" %}
{% endif %}
<div id="playlistInner">
    <ul class="categories">
    {% for (i, category) in categories.iter().enumerate() %}
      <li class="category"
          hx-swap="outerHtml"
          hx-target="#playlistInner"
          hx-get="/playlist/playlist?t={{category.name|urlencode}}&{{qstring}}{{shuffle_state}}"
        >
        {% match category.mode %}
        {% when CategoryFilterMode::Neutral %}
        <span>{{ category.name }}</span>
        {% when CategoryFilterMode::CantHave %}
        <span style="color:red">{{category.name}}</span>
        {% when CategoryFilterMode::MustHave %}
        <span style="color:green">{{category.name}}</span>
        {% endmatch %}
        {% if i != categories.len() - 1 %} | {% endif %}
      </li>
    {% endfor %}
  </ul>
  <div class="main-buttons">
    <div>
      {% if shuffled %}
      <button class=" main-button-on"
              hx-swap="outerHtml"
              hx-target="#playlistInner"
              hx-get="/playlist/playlist?s=false&{{qstring}}">Shuffle</button>
      {% else %}
      <button class="main-button-off"
              hx-swap="outerHtml"
              hx-target="#playlistInner"
              hx-get="/playlist/playlist?s=true&{{qstring}}">Shuffle</button>
      {% endif %}
    </div>
    <div>
      <button class="main-button-off" onclick="playSong(0)">PlayAll</button>
    </div>
  </div>
  <div class="grid">
    {% for (i, song) in songs.iter().enumerate() %}
    <div class="song" onclick="playSong({{ i }})">
      <img
        src="https://blind-eternities.mendess.xyz/playlist/song/thumb/{{ song.id }}"
        class="thumb"
      >
      <div class="thumb-name">{{song.title}}</div>
    </div>
    {% endfor %}
  </div>
  <script>
    initPlaylist([
      {% for song in songs.iter() %}
      {
        id: '{{ song.id }}',
        title: '{{ song.title }}',
        categories: [
          {% for c in song.categories.iter() %}
            '{{ c }}',
          {% endfor %}
        ],
        {% if let Some(artist) = song.artist %}
        artist: '{{ artist }}',
        {% endif %}
      },
      {% endfor %}
    ]);
  </script>
  <style>
  </style>
</div>
