<!DOCTYPE html>
<html>
  <head>
    {% decl head_title %}
    {% if let Some(name) = name %}
    {% let head_title = name.as_str() %}
    {% else %}
    {% let head_title = "Random Wallpaper" %}
    {% endif %}
    {% include "../head.html" %}
    <style>
    body {
      background: black;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background-image: url({{url}});
      object-fit: cover;
      overflow: hidden;
      width: 99%;
      height: 100vh;
      box-sizing: border-box;
    }
    </style>
  </head>
  <body></body>
</html>

