<!DOCTYPE html>
<html lang="en">
{% let head_scripts = ["/assets/json-enc.2.0.1.js"] %}
{% let head_title = "Gaming" %}
{% let head_stylesheet = "/assets/styles/games/index.css" %}
{% include "../head.html" %}
<body>
  {% let title = "Gaming" %}
  {% include "../title.html" %}
  <div class="big-page-buttons">
    <ul class="big-page-buttons">
      <li><a href="./games/minecraft/"><img src="/assets/icons/games/mc-logo.png" alt="Minecraft"></a></li>
      <li><a href="./games/bg3/"><img src="/assets/icons/games/bg3-logo.png" alt="Baldur's Gate 3"></a></li>
    </ul>
  </div>
</body>
</html>
