<!DOCTYPE html>
<html lang="en">
{% let head_title = "The Largest Biomes Minecraft Server - Maps" %}
{% let head_icon = "/assets/icons/games/minecraft-favicon.ico" %}
{% let head_stylesheet = "/assets/styles/games/minecraft/index.css" %}
{% include "./head.html" %}
<body>
  {% include "../../title.html" %}
  <div class="big-page-buttons">
    <ul class="big-page-buttons">
      <li><a href="./maps/overworld/">Overworld</a></li>
      <!-- <li><a href="/super-secret-map-nether-mid/">Nether</a></li> -->
      <li><a href="./maps/nether/">CN (Comboios do Nether)</a></li>
    </ul>
  </div>
</body>
</html>

