.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 8px;
    height: 8px;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}
.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

.top-glow:focus {
  outline: none;
  box-shadow: -6px  0    20px rgba(0, 123, 255, 0.5),
               5px  0    20px rgba(0, 123, 255, 0.5),
               0px -12px 13px rgba(0, 123, 255, 0.5);
}

.top-glow:hover:not(:focus) {
  box-shadow: -5px  0   5px rgba(0, 123, 255, 0.5),
               5px  0   5px rgba(0, 123, 255, 0.5),
               0px -5px 5px rgba(0, 123, 255, 0.5);
}

.bottom-left-glow {
    position: relative;
}
.bottom-left-glow::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-left: 1px solid rgba(0, 123, 255, 0.5);  /* Left border glow color */
      border-bottom: 1px solid rgba(0, 123, 255, 0.5); /* Bottom border glow color */
      box-shadow: -2px 2px 5px rgba(0, 123, 255, 0.5), /* Strongest glow in the corner */
                  -4px 4px 10px rgba(0, 123, 255, 0.4),
                  -6px 6px 15px rgba(0, 123, 255, 0.3);
      pointer-events: none;
      z-index: -1;
}
.bottom-right-glow {
    position: relative;
}
.bottom-right-glow::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-right: 1px solid rgba(0, 123, 255, 0.5);  /* Right border glow color */
      border-bottom: 1px solid rgba(0, 123, 255, 0.5); /* Bottom border glow color */
      box-shadow: 2px 2px 5px rgba(0, 123, 255, 0.5), /* Strongest glow in the corner */
                  4px 4px 10px rgba(0, 123, 255, 0.4),
                  6px 6px 15px rgba(0, 123, 255, 0.3);
      pointer-events: none;
      z-index: -1;
}
/* .fade-me-out.htmx-swapping { */
/*   opacity: 0.5; */
/*   transition: opacity 1s ease-out; */
/* } */
/* .fade-me-out { */
/*   opacity: 1; */
/*   transition: opacity 1s ease-in; */
/* } */
