body {
  background: url('https://mendess.xyz/walls/all/bonfire.gif') center/cover no-repeat fixed;
}

.big-page-buttons li:nth-child(1) { background: #b8d8ba; border: 1px solid #a0c8a2; }
.big-page-buttons li:nth-child(1):hover { background: #a8ccaa; }
.big-page-buttons li:nth-child(2) { background: #e0c4a8; border: 1px solid #d4b494; }
.big-page-buttons li:nth-child(2):hover { background: #d6b89c; }

