<!DOCTYPE html>
{% let query_string = target.to_query_string() %}
<html>
  <head>
    <title>Jukebox</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/json-enc.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="/assets/styles.css">
    <style>body { background: black; }</style>
  </head>
  <body class="text-white text-center items-center justify-center">
    <h1 class="text-2xl italic font-extrabold">Jukebox</h1>
    <div>
      <div>
        <div hx-get="/music/current?{{ query_string }}"
             hx-trigger="load,every 0.5s,new-current"
             class="flex-col items-center justify-center">
          <div class="lds-ripple"><div></div><div></div></div>
        </div>
      </div>
      <div class="flex justify-center items-center gap-x-8">

        <div hx-post="/music/ctl?{{ query_string }}"
             hx-vars='{"command": "Back"}'
             hx-ext='json-enc'
             hx-target='#title'
             class="cursor-pointer amplitude-prev disable-dbl-tap-zoom">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M26 7C26 5.76393 24.5889 5.05836 23.6 5.8L11.6 14.8C10.8 15.4 10.8 16.6 11.6 17.2L23.6 26.2C24.5889 26.9416 26 26.2361 26 25V7Z" fill="#94A3B8" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round"></path>
            <path d="M6 5L6 27" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>

        <div hx-post="/music/ctl?{{ query_string }}"
             hx-vars='{"command": "CyclePause"}'
             hx-ext='json-enc'
            class="cursor-pointer amplitude-play-pause w-24 h-24 rounded-full bg-white border border-play-pause-light-border shadow-xl flex items-center justify-center dark:bg-play-pause-dark-background dark:border-play-pause-dark-border amplitude-paused disable-dbl-tap-zoom">
          {% let paused = false %}
          {% include "playpause.html" %}
        </div>

        <div hx-post="/music/ctl?{{ query_string }}"
             hx-vars='{"command": "Frwd"}'
             hx-ext='json-enc'
             hx-target='#title'
             class="cursor-pointer amplitude-next disable-dbl-tap-zoom">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 7C6 5.76393 7.41115 5.05836 8.4 5.8L20.4 14.8C21.2 15.4 21.2 16.6 20.4 17.2L8.4 26.2C7.41115 26.9416 6 26.2361 6 25V7Z" fill="#94A3B8" stroke="#94A3B8" stroke-width="2" stroke-linejoin="round"></path>
            <path d="M26 5L26 27" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </div>
      </div>
      {% include "volume-control.html" %}
      <div class="flex flex-col items-center">
        <input class="m-4 px-4 py-2 border rounded-md focus:outline-none focus:border-blue-500"
               style="color:black"
               type="search" name="search" placeholder="queue a song"
               hx-post="/music/search?{{ query_string }}"
               hx-trigger="load, input changed delay:100ms, search"
               hx-target="#search-results">
        <p id="queuing" class="htmx-indicator">queueing...</p>
        <ul class="justify-center text-surface dark:text-white" id="search-results"></ul>
      </div>
    </div>
  </body>
</html>

