<!DOCTYPE html>
{% let query_string = target.to_query_string() %}
<html>
  {% let head_scripts = ["/assets/json-enc.2.0.1.js"] %}
  {% let head_title = "Jukebox" %}
  {% let head_stylesheet = "/assets/jukebox.css" %}
  {% include "../head.html" %}
  <body>
    <h1>Jukebox</h1>

    <div>
      {# Current song #}
      <div>
        <div
             hx-get="/music/current?{{ query_string }}"
             hx-trigger="load, every 0.5s, new-current">
          <div class="lds-ripple"><div></div><div></div></div>
        </div>
      </div>

      {# Tabs #}
      <div
          class="tabs"
          id="tabs"
          hx-get="/music/tabs/queue?{{ query_string }}"
          hx-trigger="load delay:100ms"
          hx-target="#tabs"
          hx-swap="innerHTML">
      </div>
    </div>
  </body>
</html>

