<html lang="en">
    <head>
        <title>I use Arch btw</title>
        <style>
            body {
              background-color: #181A1C;
              color: white;
            }

            .home-links {
              color: white;
            }
        </style>
    </head>
    <body>
        <h1>Welcome to 'Hello from my Arch linux as a Service'</h1>
        <p>Hello from my arch linux REMOTE!</p>
        <pre>
                       -`
                  .o+`
                 `ooo/
                `+oooo:
               `+oooooo:
               -+oooooo+:
             `/:-:++oooo+:
            `/++++/+++++++:
           `/++++++++++++++:
          `/+++ooooooooooooo/`
         ./ooosssso++osssssso+`
        .oossssso-````/ossssss+`
       -osssssso.      :ssssssso.
      :osssssss/        osssso+++.
     /ossssssss/        +ssssooo/-
   `/ossssso+/:-        -:/+osssso+-
  `+sso+:-`                 `.-/+oso:
 `++:.                           `-/+/
 .`                                 `
        </pre>
        <ul>
          <li><a class="home-links" href="/walls/">walls</a></li>
          <li><a class="home-links" href="/playlist">music</a></li>
          <li><a class="home-links" href="/games">games</a></li>
          <li><a class="home-links" href="/files">files</a></li>
        </ul>
    </body>
</html>
